name: PR checks

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          pip install -r requirements.txt

      - name: Run unit tests
        run: python -m unittest

      - name: Ruff format (check)
        run: ruff format --check --output-format=github --target-version=py310 .

      - name: Ruff lint
        run: ruff check --output-format=github --target-version=py310 --ignore=E702 .
